<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>test</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
  <link rel="stylesheet" href="style.css">
</head>

<body>
  <h1>Orders</h1>
  <div id="app">
    <div v-for="order in status">
      <div id="modal1" class="modal">
        <div class="modal-content">
          <h4> {{order.order_id}} </h4>
        </div>
        <div class="modal-footer">
          <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Quit</a>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <div class="card black darken-1">
            <div class="card-content white-text">
              <span class="card-title">Meal order</span>
              <p>
                <h3>Order ID</h3> {{ order.order_id }}
                <h3>Delivery date</h3> {{ order.delivery_date }}
              </p>
            </div>

            <div class="card-action">
              <a class="waves-effect waves-light btn modal-trigger" v-if="order.feedback_submitted" href="#modal1">Feedback</a>
              <a class="waves-effect waves-light btn modal-trigger" v-else disabled>Feedback Given</a>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/vue"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.17.1/axios.js"></script>
  <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
  <script src="app.js"></script>
</body>

</html>
